[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
django-bootstrap3-datetimepicker = "*"
django-bootstrap4-datetimepicker = "*"
django-mathfilters = "*"

[requires]
python_version = "3.7"
